<div class="row">
  <h3>Welcome to the Watson Conversation and ODM product recommendation solution</h3>
  <p>This user interface is used to demonstrated the conversations broker in action, using Watson Conversation Service, IBM Cloud rule service and   other backend services.</p>
    <p>For more information about code and content see the repository in github.com <a href="https://github.com/ibm-cloud-architecture/refarch-cognitive-prod-recommendations">IBM Cloud Architecture</a></p>
  <div class="col-md-4 roundRect" style="box-shadow: 10px 10px 5px #10d1d1; border-color: #10d1d1;">
        <h2>Support Bot</h2>
        <p>Ask your telecom questions</p>
        <p><button (click)="advisor()" class="btn">Ask me</button></p>
  </div>
</div>
