<div class="collapse navbar-collapse" id="main-navbar">
  <ul class="nav navbar-nav">
      <li class=""><a [routerLink]="['/']">Home</a></li>
  </ul>
</div>
<div class='row'>
  <div class='col-xs-4'>
      <p>Welcome! This application is a demonstration for product recommendations based on Watson conversation context. When the bot detects that you, as a customer of a telco provider, want to relocate, it will ask you about your target zipcode as well as your anticipated move date, and will use this data, as well as existing customer data, to offer a personalised recommendation on which new telco service and price you should get at your target address.</p>
      <p>Use one of the following questions to get trained answers:</p>
      <ul>
        <li>I want to relocate to <></li>
        <li>I want to move</li>
      </ul>
    <br/>
  </div>
  <div class="col-xs-8">
     <div class="row">
       <mat-form-field>
          <mat-select placeholder="Select Predefined Customer Profile" [(value)]="selectedProfile">
            <mat-option *ngFor="let c of customers" [value]="c.value">
              {{ c.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
     </div>
     <div class="conversation-container">
        <div  #scrollMe class="scrolling-box">
          <div *ngFor="let p of currentDialog">
             <div class="message-box">
               <div class="{{p.direction}}">
                  <div class="{{p.direction+'-icon'}}" >
                    <span *ngIf="p.direction === 'to-watson'" class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <div *ngIf="p.direction === 'from-watson'" class="from-watson-icon">
                      <img src='assets/images/watson-globe.png' style='width:50px'>
                    </div>
                  </div>
                  <div class="{{p.direction+'-text'}}">
                    <div [innerHTML]="p.text"></div>
                    <div *ngIf="p.options">
                      <div *ngFor="let c of p.options">
                          <br/>
                        <button type="button" (click)="advisorResponse(c)" class="btn btn-primary">{{c}}</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <form class="form-inline" autocomplete="off" (keydown)="keyMessage($event)">
            <div class="form-group " style="padding:20px">
                <input class="form-control message-box"
                       type="text"
                       size="60"
                       [(ngModel)]="queryString"
                       placeholder="Send a message to Advisor!"
                       name="queryString"
                       autocomplete="off"/>
                <button class="btn btn-primary" (click)="submit()" type="button">Send</button>
            </div>
        </form>
    </div>
  </div>
</div>
